

/* Sticky footer styles
-------------------------------------------------- */

html,
body
{
    height: 100%;
}

/* Wrapper for page content to push down footer */

#wrap
{
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

/* Set the fixed height of the footer here */

#footer
{
    height: 60px;
    background-color: #000000;
}

/* Custom page CSS
-------------------------------------------------- */

/* Not required for template or sticky footer method. */

temprule
{
    color: #959595;
}

#wrap > .container
{
    padding: 60px 15px 0;
}

.container .text-muted
{
    margin: 20px 0;
}

#footer > .container
{
    padding-left: 15px;
    padding-right: 15px;
}

code
{
    font-size: 80%;
}

.temprule
{
    color: #9b9b9b;
}


/* hover object stuff */
.circle {
  position: relative;
  background-color: #09f;
  margin: 20px auto;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  top: 200px;
  left: 40%;
}

.hovertext {
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  display: none;
  text-align: center;
}

.circle:hover .hovertext {
    display: block;
}

.circle:hover {
    background-color: #000;
}

/* The Modal (background) */
.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* hamburger button stuff */
.container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.accordionmenu {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: 0.6s ease-in-out;
}

.accordionmenu.show {
  opacity: 1;
  max-height: 500px;
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\002B'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212"; /* Unicode character for "minus" sign (-) */
}

/* Style the accordion panel.*/
div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0px;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
    /*display: none;*/
}

.panel.show {
  opacity: 1;
  max-height: 500px;
  /*display: inline;*/
}

